$bg: hsl(215, 100%, 92%);
$fg: hsl(0, 0%, 100%);

:root {
  font-family: Arial, sans-serif;
  color: $fg;
}

body {
  margin: 0;
  background: $bg;
  color: hsl(0, 0%, 0%);
}

.about {
  padding: 10px;

  a {
    color: hsl(0, 0%, 0%);
  }
}
